@charset "utf-8";
body,td,th {
    font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
    color: #3B3B3B;
    font-size: 16px;
}
body {
    background-image: url("images/leaves.png");
    background-repeat: repeat;
    color: #F5F5F5;
    background-size: contain;
}

#wrapper {
	width: 1500px;
margin-left: auto;
margin-right: auto;
background-color:#0B949B;
		}

header{
    text-align: center;
    height: 30px;
    background-color: #000070;
    color: #FFFFFF;
    font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", monospace;
	}
nav{
    background-color: #C7BFB4;
    color: #F9F3F3;
	
}
main{
	
}
footer{	
background-color:black; 
	color:#fff;
	text-align:center;
}

h1 {
    font-size: xx-large;
}
h2 {
    font-size: x-large;
}
h3 {
    font-size: large;
}
h4 {
    font-size: medium;
}
h5 {
    font-size: small;
}
h6 {
    font-size: x-small;
}
a:link {
    color: #0005FF;
    text-decoration: underline;
}
a:visited {
    color: #42FF00;
    text-decoration: underline;
}
a:hover {
    color: #E019D2;
    text-decoration: none;
}
a:active {
    color: #42FF00;
    text-decoration: underline;
}
a {
    font-style: normal;
    color: #42FF00;
}
